@font-face {
   font-family: 'Maragsa-Display';
   font-display: swap;
   src: url('file:///C:/Users/SOFIA/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-10-21_113043/fonts/Maragsa-Display/font.woff');
}
